<head>
    <link rel="stylesheet" href="/css/admin-login.css">
</head>
<div class="grid wide">
    <div class="row auth-form__row">
        
        <div class="col l-6 auth-form__row--center">
            <div class="auth-form">
                <form action="#"class="auth-form__app__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng nhập(admin)</h3>
                        <i class="fas fa-key"></i>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" placeholder="Email của bạn" class="auth-form__input"required >
                        </div>
                        <div class="auth-form__group">
                            <input type="password" placeholder="Mật khẩu của bạn" class="auth-form__input"required >
                        </div>
                    </div>
                    <div class="auth-form__aside">
                       <div class="auth-form__help">
                           <a href="" class="auth-form__help-link auth-form__help-link-forgot">Quên mật khẩu</a>
                           <span class="auth-form__help-separate"></span>
                           <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                       </div>
                    </div>
                    <div class="auth-form__controls">
                        <button class="auth-form__controls-button btn--primary">ĐĂNG NHẬP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>