<head>
    <link rel="stylesheet" href="/css/bill-manage.css">
</head>
<div class="bill">
    <div class="bill__title">
        <span>Trạng thái sẩn phẩm</span>
        <select name="status" id="status">
            <option value="">Đang chờ xử lí</option>
            <option value="">Đang giao hàng</option>
            <option value="">Đã giao hàng</option>
        </select>
    </div>
    <div class="bill__details">
        <table class="bill__details-table">
            <thead>
                <tr>
                    <td>Tên</td>
                    <td>Địa chỉ</td>
                    <td>Số điện thoại</td>
                    <td>Thông tin sản phẩm</td>
                    <td>Tổng thanh toán</td>
                    <td>Trạng thái sản phẩm</td>
                </tr>
            </thead>
            <tbody>
                {{#each listOrder}}
                <tr>
                    <td>{{this.customerName}}</td>
                    <td>{{this.customerAddress}}</td>
                    <td>{{this.customerPhone}}</td>
                    <td class="td__img-modifier">
                        <img src="/images/doi-ngan-dung-ngu-dai.jpg" alt="">
                        <ul>
                            <li>Đời ngắn đừng ngủ dài</li>
                            <li>Số lượng: 3</li>
                            <li>Giá: 23.000đ</li>
                        </ul>
                    </td>
                    <td>{{this.totalPrice}}</td>
                    <td>
                        <div class="status__info">
                            <select name="status" id="">
                                <option value="">Đang chờ xử lí</option>
                                <option value="">Đang giao hàng</option>
                                <option value="">Đã giao hàng</option>
                            </select>
                            <div>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>