<head>
    <link rel="stylesheet" href="/css/bill-manage.css">
</head>
<div class="bill">
    <div class="bill__title">
        <div class="bill__title-status">
            <span>Trแบกng thรกi sแบฉn phแบฉm</span>
            <select name="statusAll" id="statusAll" onchange="changeFunc();">
                <option value="pendingAll" selected="selected">ฤang chแป xแปญ lรญ</option>
                <option value="deliveringAll">ฤang giao hรng</option>
                <option value="deliveredAll">ฤรฃ giao hรng</option>
            </select>
        </div>
        <button class="bill__title-update-status" id="update-status-btn">Cแบญp nhแบญt โ</button>
    </div>
    <div class="bill__details">
        <table class="bill__details-table">
            <thead>
                <tr>
                    <td>Tรชn ๐</td>
                    <td>ฤแปa chแป โช</td>
                    <td>Sแป ฤiแปn thoแบกi๐ฑ</td>
                    <td>Thรดng tin sแบฃn phแบฉm๐</td>
                    <td>Tแปng thanh toรกn๐ฒ</td>
                    <td>Trแบกng thรกi sแบฃn phแบฉm</td>
                </tr>
            </thead>
            <tbody id='listOrderBody'>


            </tbody>
        </table>
    </div>
</div>
<script src="/javascripts/bill-manage.js"></script>