<head>
    <link rel="stylesheet" href="/css/book-manage.css">
</head>
<div class="book">
    <div class="book__title">
        <table class="book__title-table">
            <thead>
                <tr>
                    <td><i class="fas fa-book"></i> Tên sách</td>
                    <td><i class="fas fa-clock"></i> Thời gian</td>
                    <td><i class="fas fa-dollar-sign"></i> Giá</td>
                    <td><i class="fas fa-edit"></i>Mô tả</td>
                    <td><i class="fas fa-cog"></i></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Đời ngắn đừng ngủ dài</td>
                    <td>2000-10-23</td>
                    <td>23000</td>
                    <td>Cuốn sách mô tả về cuộc sống chăn trâu của chàng sinh viên nghèo</td>
                    <td>
                        <button class="btn-icon-edit"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon-remove"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>TUổi trẻ đáng giá</td>
                    <td>2007-10-12</td>
                    <td>14555</td>
                    <td>Cuốn sách mô tả về cuộc sống chăn trâu của chàng sinh viên nghèo</td>
                    <td>
                        <button class="btn-icon-edit"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon-remove"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Đời mà</td>
                    <td>2001-01-06</td>
                    <td>19000</td>
                    <td>Cuốn sách mô tả về cuộc sống chăn trâu của chàng sinh viên nghèoCuốn sách mô tả về cuộc sống
                        chăn trâu của chàng sinh viên nghèo</td>
                    <td>
                        <button class="btn-icon-edit" class="btn-icon-edit"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon-remove"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Đắc nhân tâm</td>
                    <td>2031-11-17</td>
                    <td>90210</td>
                    <td>Cuốn sách </td>
                    <td>
                        <button class="btn-icon-edit"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon-remove"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Đời ngắn đừng ngủ dài</td>
                    <td>2000-10-23</td>
                    <td>23000</td>
                    <td>Cuốn sách mô tả về cuộc sống chăn trâu của chàng sinh viên nghèo</td>
                    <td>
                        <button class="btn-icon-edit"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon-remove"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>TUổi trẻ đáng giá</td>
                    <td>2007-10-12</td>
                    <td>14555</td>
                    <td>Cuốn sách mô tả về cuộc sống chăn trâu của chàng sinh viên nghèo</td>
                    <td>
                        <button class="btn-icon-edit"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon-remove"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Đời mà</td>
                    <td>2001-01-06</td>
                    <td>19000</td>
                    <td>Cuốn sách mô tả về cuộc sống chăn trâu của chàng sinh viên nghèoCuốn sách mô tả về cuộc sống
                        chăn trâu của chàng sinh viên nghèo</td>
                    <td>
                        <button class="btn-icon-edit" class="btn-icon-edit"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon-remove"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>TUổi trẻ đáng giá</td>
                    <td>2007-10-12</td>
                    <td>14555</td>
                    <td>Cuốn sách mô tả về cuộc sống chăn trâu của chàng sinh viên nghèo</td>
                    <td>
                        <button class="btn-icon-edit"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon-remove"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Đời mà</td>
                    <td>2001-01-06</td>
                    <td>19000</td>
                    <td>Cuốn sách mô tả về cuộc sống chăn trâu của chàng sinh viên nghèoCuốn sách mô tả về cuộc sống
                        chăn trâu của chàng sinh viên nghèo</td>
                    <td>
                        <button class="btn-icon-edit" class="btn-icon-edit"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon-remove"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Đắc nhân tâm</td>
                    <td>2031-11-17</td>
                    <td>90210</td>
                    <td>Cuốn sách </td>
                    <td>
                        <button class="btn-icon-edit"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon-remove"><i class="fas fa-times-circle"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="book__title-pagination">
            <ul class="pagination">
                <li class="pagination__item">
                    <a href="" class="pagination__link">
                        <i class="fas pagination__icon fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="pagination__item"><a href="" class="pagination__link">1</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">2</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">4</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">5</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">6</a></li>
                <li class="pagination__item">
                    <a href="" class="pagination__link">
                        <i class="fas pagination__icon fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="book__edit">
        <h3 class="book__edit-title">Cập nhật thông tin chi tiết từng cuốn sách tại đây.</h3>

        <form action="" method="POST" class="form" id="edit-form">
            <div class="spacer"></div>

            <div class="form-group">
                <label class="form-label">Tên sách</label>
                <input id="name" name="name" rules="required" type="text" placeholder="VD:Đời ngắn đừng ngủ dài"
                    class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Ngày đăng</label>
                <input id="date" name="date" rules="required" type="date" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Giá</label>
                <input id="price" name="price" rules="required" type="text" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">mô tả</label>
                <textarea name="description" id="description" class="form-control" rules="required" cols="30"
                    rows="10"></textarea>
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label class="form-label">Thể loại</label>
                <select name="category" id="category">
                    <option value="volvo">Đời sống</option>
                    <option value="saab">Tiểu thuyết</option>
                    <option value="opel">Lãng mạn</option>
                    <option value="audi">Trinh thám</option>
                </select>
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Tác giả</label>
                <input id="author" name="author" rules="required" type="text" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Nhà xuất bản</label>
                <input id="publisher" name="publisher" rules="required" type="text" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Tải ảnh sản phẩm</label>
                <input id="image" name="image" rules="required" type="file" class="form-control">
                <span class="form-message"></span>
            </div>
            <div class="form-image">
                <img src="/images/tuoi-tre-dang-gia-bao-nhieu.jpg" alt="">
            </div>

            <div class="form-group form-group--modifier">
                <button class="form-submit">Cập nhật</button>
                <button class="form-submit">Thêm mới</button>
            </div>
        </form>
    </div>
</div>
<div class="overlay">
    <div class="popup">
        <h3 class="popup__tile">Bạn chắc chắn?</h3>
        <p class="popup__description">Bạn có thật sự muốn xóa cuốn sách này?</p>
        <form action="/admin/book-manage" class="pop__up-button">
            <a class="pop__up-button-exit">Thoát</a>
            <button class="pop__up-button-ok">Đồng ý</button>
        </form>
    </div>

    <script>
        var observe;
        if (window.attachEvent) {
            observe = function (element, event, handler) {
                element.attachEvent('on' + event, handler);
            };
        }
        else {
            observe = function (element, event, handler) {
                element.addEventListener(event, handler, false);
            };
        }
        function init() {
            var description = document.getElementById('description');
            function resize() {
                description.style.height = '25px';
                description.style.height = description.scrollHeight + 'px';
            }
            /* 0-timeout to get the already changed description */
            function delayedResize() {
                window.setTimeout(resize, 0);
            }
            observe(description, 'change', resize);
            observe(description, 'cut', delayedResize);
            observe(description, 'paste', delayedResize);
            observe(description, 'drop', delayedResize);
            observe(description, 'keydown', delayedResize);

            description.select();
            resize();
        }
        function modal() {

            var exitButton = document.querySelector('.pop__up-button-exit');
            exitButton.onclick = function () {
                var overlay = document.querySelector('.overlay');
                var popup = document.querySelector('.popup');
                popup.style.display = 'none';
                overlay.style.display = 'none';
            }
            var orderCancelList = document.querySelectorAll('.btn-icon-remove');
            orderCancelList.forEach(orderCancel => {
                orderCancel.onclick = function () {
                    var overlay = document.querySelector('.overlay');
                    var popup = document.querySelector('.popup');
                    popup.style.display = 'block';
                    overlay.style.display = 'block';
                }
            })

        }
        window.onload = init();
        window.onload = modal();
    </script>