<head>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<div class="main__dashboard">
    <div class="row">
        <div class="col l-12 m-12">
            <div class="main__cardbox grid wide">
                <div class="row">
                    <div class="col l-3 m-6 c-12">
                        <div class="main__cardbox-card">
                            <div class="main__cardbox-card-contain">
                                <div class="main__cardbox-card-name">Truy cập hằng ngày</div>
                                <div class="main__cardbox-card-numbers">194</div>
                            </div>
                            <div class="main__cardbox-card-icon">
                                <i class="fas fa-eye"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-6 c-12">
                        <div class="main__cardbox-card">
                            <div class="main__cardbox-card-contain">
                                <div class="main__cardbox-card-name">Doanh số</div>
                                <div class="main__cardbox-card-numbers">67</div>
                            </div>
                            <div class="main__cardbox-card-icon">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-6 c-12">
                        <div class="main__cardbox-card">
                            <div class="main__cardbox-card-contain">
                                <div class="main__cardbox-card-name">Đánh giá</div>
                                <div class="main__cardbox-card-numbers">15</div>
                            </div>
                            <div class="main__cardbox-card-icon">
                                <i class="fas fa-comment"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-6 c-12">
                        <div class="main__cardbox-card">
                            <div class="main__cardbox-card-contain">
                                <div class="main__cardbox-card-name">Kiếm được</div>
                                <div class="main__cardbox-card-numbers">12,312,871đ</div>
                            </div>
                            <div class="main__cardbox-card-icon">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l-12 m-12">
            <div class="main__details grid wide">
                <div class="row">
                    <div class="col l-8 m-12 c-12">
                        <div class="main__details-recent-orders">
                        <div class="main__details-cardheader">
                            <h2>Đơn hàng gần đây</h2>
                            <a href="/dashboard/bill-manager" class="main__details-cardheader--btn">Xem tất cả</a>
                        </div>
                        <table class="recent__orders-table">
                            <thead class="recent__orders-thead">
                                <tr class="recent__orders-tr--modifier">
                                    <td class="recent__orders-td">Tên</td>
                                    <td class="recent__orders-td">Giá</td>
                                    <td class="recent__orders-td">Thanh toán</td>
                                    <td class="recent__orders-td">Trạng thái</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="recent__orders-tr">
                                    <td>Đời ngắn đừng ngủ dài</td>
                                    <td>37,000đ</td>
                                    <td>Đã thanh toán</td>
                                    <td><span class="status delivered">Đã giao hàng</span></td>
                                </tr>
                                <tr class="recent__orders-tr">
                                    <td>Nhà giả kim</td>
                                    <td>25,580đ</td>
                                    <td>Đến hạn</td>
                                    <td><span class="status pending">Đang chờ xử lí</span></td>
                                </tr>
                                <tr class="recent__orders-tr">
                                    <td>Hôn môi em</td>
                                    <td>60,000đ</td>
                                    <td>Đã thanh toán</td>
                                    <td><span class="status return">Trả lại</span></td>
                                </tr>
                                <tr class="recent__orders-tr">
                                    <td>Tuổi trẻ đáng giá bao nhiêu</td>
                                    <td>98,200đ</td>
                                    <td>Đến hạn</td>
                                    <td><span class="status pending">Đang chờ xử lí</span></td>
                                </tr>
                                <tr class="recent__orders-tr">
                                    <td>Đời ngắn đừng ngủ dài</td>
                                    <td>37,000đ</td>
                                    <td>Đã thanh toán</td>
                                    <td><span class="status delivered">Đã giao hàng</span></td>
                                </tr>
                                <tr class="recent__orders-tr">
                                    <td>Nhà giả kim</td>
                                    <td>25,580đ</td>
                                    <td>Đến hạn</td>
                                    <td><span class="status pending">Đang chờ xử lí</span></td>
                                </tr>
                                <tr class="recent__orders-tr">
                                    <td>Hôn môi em</td>
                                    <td>60,000đ</td>
                                    <td>Đã thanh toán</td>
                                    <td><span class="status return">Trả lại</span></td>
                                </tr>
                                <tr class="recent__orders-tr">
                                    <td>Hello mặt trời</td>
                                    <td>98,200đ</td>
                                    <td>Đến hạn</td>
                                    <td><span class="status inprogress">Đang giao hàng</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <div class="col l-4 m-12 c-12">   
                        <div class="main__details-recent-customers">
                            <div class="recent-customers__card-header">
                                <h2>Khách hàng gần đây</h2>
                            </div>
                            <ul class="recent-customers__list">
                                <li class="recent-customers__list-item">
                                    <div class="recent-customers__list-avatar">
                                        <img src="/images/linh.jpg" alt="">
                                    </div>
                                    <div class="recent-customers__list-info">
                                        <span class="recent-customers__list-name">LinhhLinhh</span>
                                        <span class="recent-customers__list-address">Đà Nẵng</span>
                                    </div>
                                </li>
                                <li class="recent-customers__list-item">
                                    <div class="recent-customers__list-avatar">
                                        <img src="/images/mai-am-nhac.jpg" alt="">
                                    </div>
                                    <div class="recent-customers__list-info">
                                        <span class="recent-customers__list-name">Mai âm nhạc</span>
                                        <span class="recent-customers__list-address">Hà nội</span>
                                    </div>
                                </li>
                                <li class="recent-customers__list-item">
                                    <div class="recent-customers__list-avatar">
                                        <img src="/images/avatar.jpg" alt="">
                                    </div>
                                    <div class="recent-customers__list-info">
                                        <span class="recent-customers__list-name">Thành</span>
                                        <span class="recent-customers__list-address">Hà Tĩnh</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/dashboard.js"></script>