<head>
    <link rel="stylesheet" href="css/home.css">
</head>
<div class="grid wide padding-all">
    <div class="search">
        <input type="text" class="search__input" placeholder="Tìm kiếm">
        <button class="search__button">
            <i class="search__icon fas fa-search"></i>
        </button>
    </div>
    <div class="row">
        <div class="col l-3 m-12 flex-in-tablet hide-on-mobile">
            <div class="category">
                <div class="title">
                    <hr class="title-line">
                    <h3 class="category__title">Thể loại</h3>
                    <hr class="title-line">
                </div>
                <ul class="category__list">
                    <li class="category__item">
                        <a href="" class="category__link">
                            Tiểu thuyết
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Đời sống
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Thiếu nhi
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Truyện trinh thám
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Kỹ năng
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Hành động
                        </a>
                    </li>
                </ul>
            </div>
            <div class="price">
                <div class="title">
                    <hr class="title-line">
                    <h3 class="category__title">Giá tiền</h3>
                    <hr class="title-line">
                </div>
                <div class="price__options">
                    <div class="price__options-select">
                        <input type="radio" name="price" value="all-price" id="all-price" class="price__options-radio">
                        <label class="price__options-label" for="all-price">All price</label>
                    </div>
                    <div class="price__options-select">
                        <input type="radio" name="price" value="0-50000" id="0-50000" class="price__options-radio">
                        <label class="price__options-label" for="0-50000">0 -- 50.000</label>
                    </div>
                    <div class="price__options-select">
                        <input type="radio" name="price" value="50000-100000" id="50000-100000"
                            class="price__options-radio">
                        <label class="price__options-label" for="50000-100000">50.000 -- 100.000</label>
                    </div>
                    <div class="price__options-select">
                        <input type="radio" name="price" value="100000-150000" id="100000-150000"
                            class="price__options-radio">
                        <label class="price__options-label" for="100000-150000">100.000 -- 150.000</label>
                    </div>

                    <div class="price__options-select">
                        <input type="radio" name="price" value=">150.000" id=">150.000" class="price__options-radio">
                        <label class="price__options-label" for=">150.000">>= 150.000</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l-9">
            <div class="all-book">
                <hr class="all-book-line">
                <h3 class="all-book-text">All book</h3>
                <hr class="all-book-line">
            </div>
            <div class="list-book">
                <div class="row" id="show-book-list">
                    {{#each listBook}}
                    <div class="col l-3 m-4 c-6">
                        <a href="/product/{{this._id}}" class="book-detail">
                            <img class="book-image" src="{{this.image}}" alt="">
                            <h3 class="book-name">
                                {{this.name}}
                            </h3>
                            <div class="price-detail">
                                <p class="book-price">
                                    Giá: {{this.price}}
                                </p>
                                <p class="vnd">đ</p>
                            </div>
                        </a>
                    </div>
                    {{/each}}

                </div>
            </div>
            <ul class="pagination">
                <li class="pagination__item">
                    <a href="" class="pagination__link">
                        <i class="fas pagination__icon fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="pagination__item"><a href="" class="pagination__link">1</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">2</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">4</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">5</a></li>
                <li class="pagination__item"><a href="" class="pagination__link">6</a></li>
                <li class="pagination__item">
                    <a href="" class="pagination__link">
                        <i class="fas pagination__icon fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/javascripts/home.js"></script>