<head>
    <link rel="stylesheet" href="/css/login.css">
</head>
<div class="grid wide">
    <div class="row auth-form__row">

        <div class="col l-6 auth-form__row--center">
            <div class="auth-form">
                <div method="post" class="auth-form__app__container">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng nhập</h3>
                        <a href="/auth/register" class="auth-form__switch-btn">Đăng ký</a>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input required type="text" placeholder="Email của bạn" name="email" id="email"
                                class="auth-form__input">
                        </div>
                        <div class="auth-form__group">
                            <input required type="password" placeholder="Mật khẩu của bạn" id="password" name="password"
                                class="auth-form__input">
                        </div>
                        <span class="span-validate" id="span-validate"></span>
                    </div>
                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="" class="auth-form__help-link auth-form__help-link-forgot">Quên mật khẩu</a>
                            <span class="auth-form__help-separate"></span>
                            <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                        </div>
                    </div>
                    <div class="auth-form__controls">
                        <a href="/" class=" btn--back btn--normal ">TRỞ LẠI</a>
                        <button class="auth-form__controls-button btn--primary" id="login">ĐĂNG NHẬP</button>
                    </div>
                </div>
                <div class="auth-form__socials">
                    <a href="" class="auth-form__socials--facebook">
                        <i class="fab fa-facebook-square auth-form__socials-icon"></i>
                        <span class="auth-form__socials-title auth-form__socials-title--span">Kết nối với
                            Facebook</span>
                    </a>
                    <a href="/auth/google" class="auth-form__socials--google">
                        <i class="fab fa-google auth-form__socials-icon"></i>
                        <span class="auth-form__socials-title">Kết nối với Google</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/login.js"></script>
 