<head>
    <link rel="stylesheet" href="/css/product.css">
</head>
<div class="grid wide">
    <div class="row product">
        <div class="col l-3 m-12 flex-in-tablet hide-on-mobile">
            <div class="category">
                <div class="title">
                    <hr class="title-line">
                    <h3 class="category__title">Thể loại</h3> 
                    <hr class="title-line">
                </div>
                <ul class="category__list">
                    <li class="category__item">
                        <a href="" class="category__link">
                            Tiểu thuyết
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                        Đời sống
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Thiếu nhi
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Truyện trinh thám
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Kỹ năng
                        </a>
                    </li>
                    <li class="category__item">
                        <a href="" class="category__link">
                            Hành động
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col l-9">
            <div class="row xsm-gutter">
                <div class="col l-4 product__image">
                    <img src="/images/doi-ngan-dung-ngu-dai.jpg" alt="" class="product__image--img">

                </div>
                <div class="col l-6 product__info">
                    <ul class="product__info-list">
                        <li class="product__info-item">
                            <h3>Đời ngắn đừng ngủ dài</h3>
                        </li>
                        <li class="product__info-item">
                            Nhà cung cấp: NXB trẻ
                        </li>
                        <li class="product__info-item product__info-item--price">
                            25.000đ
                        </li>
                        <li class="product__info-item">
                            Thể loại: Đời sống
                        </li>
                        <li class="product__info-item">
                            Ngày xuất bản: 23/10/2000
                        </li>
                        <li class="product__info-item">
                            Tác giả: thanhsimp_
                        </li>
                        <li class="product__info-item">
                            <div class="product__info-amount">
                                <button id="product__info-amount-sub" class="product__info-amount-math">
                                    <i class="product__info-amount-icon fas fa-minus"></i>
                                </button>
                                <span id="product__info-amount" class="product__info-amount-span">1</span>
                                <button id="product__info-amount-sum" class="product__info-amount-math">
                                    <i class="product__info-amount-icon fas fa-plus"></i>
                                </button>
                            </div>
                        </li>
                        <li class="product__info-item">
                            <div class="product__info-add-to-cart">
                                <a href='/cart' class="product__info-add-to-cart--button"><i class="product__info-add-to-cart--icon fas fa-cart-plus"></i> Thêm vào giỏ hàng</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>