<header class="header">
{{!-- Mobile --}}
    <div class="nav__top-mobile hide-on-tablet-pc">
        <label for="nav-mobile-input" class="nav__bars-btn">
            <i class="nav__top-mobile-icon fas fa-bars"></i>
        </label>
    </div>
    <input type="checkbox" hidden class="nav__input" id="nav-mobile-input">

    <label for="nav-mobile-input" class="nav__overlay"></label>
    <nav class="nav__mobile hide-on-tablet-pc">
       
        <ul class="nav__mobile-list">
            <li class="nav__mobile-item">
                <a href="" class="nav__link nav__mobile-link">Trang chủ <i class="fas fa-home" style="margin-left: 5px; color: #6b6868;"></i></a>
            </li>
            <li class="nav__mobile-item">
                <a href="" class="nav__link nav__mobile-link">Tiểu thuyết</a>
            </li>
            <li class="nav__mobile-item">
                <a href="" class="nav__link nav__mobile-link">Đời sống</a>
            </li>
            <li class="nav__mobile-item">
                <a href="" class="nav__link nav__mobile-link">Thiếu nhi</a>
            </li>
            <li class="nav__mobile-item">
                <a href="" class="nav__link nav__mobile-link">Truyện trinh thám</a>
            </li>
            <li class="nav__mobile-item">
                <a href="" class="nav__link nav__mobile-link">Kỹ năng</a>
            </li>
            <li class="nav__mobile-item">
                <a href="" class="nav__link nav__mobile-link">Hành động</a>
            </li>
            <label for="nav-mobile-input" class="nav__mobile-close--text">
               Thoát
            </label>
        </ul>
    </nav>

    {{!-- header pc --}}
    <div class="header__body">
        <div class="grid wide">
            <div class="header__body-info">
                <div class="header__body-logo">
                    <a href="/">
                        <img class="header__body-logo-image" src="https://i.pinimg.com/564x/18/18/88/18188820e5da19a3908aeb18af5246b5.jpg" alt="">
                    </a>
                       
                </div>
                <ul class="cart__auth">
                    <li class="cart__auth-item cart__auth-item--hover hide-on-mobile-tablet">
                        <a href="/cart" class="cart__auth-link"><i class="fas fa-shopping-cart"></i> Giỏ hàng</a>
                        {{!-- <div class="header__cart-list">
                            <img src="images/no-product-real.png" alt="" class="header__cart-no-cart-img">
                            <p class="header__cart-list-no-cart-smg">Chưa có sản phẩm</p>
                        </div> --}}
                    </li>
                    <li class="cart__auth-item">
                        <a href="/auth/register" class="cart__auth-link">Đăng ký</a>
                    </li>
                    <li class="cart__auth-item">
                        <a href="/auth/login" class="cart__auth-link">Đăng nhập</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>   