<footer class="footer padding-all">
    <grid class="grid wide">
        <div class="row footer__info ">
            <div class="col l-3 m-6 c-12">
                <h1 class="footer__info-name">
                    Thanhsimp
                </h1>
                <p class="footer__info-introduce">
                    Thanhsimp là một website chuyên bán sách, bao gồm nhiều thể loại phong phú, tôi muốn đưa đến trải nghiệm tốt nhất tới các bạn :)
                </p>
            </div>
        </div>
        <div class="row footer__contact">
            <div class="col l-3 m-6 c-12">
                <div class="footer__contact-about-me">
                    <h2 class="about-me">Thông tin về chúng tôi</h2>
                    <ul class="about-me-list">
                        <li class="about-me-item">
                            <i class="fas about-me-icon about-me-icon--hanoi fa-map-marker-alt"></i>
                            Hà Nội city
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-envelope"></i>
                           Thanhpham.23102000@gmail.com
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-phone-alt"></i>
                           0986249793
                        </li>
                        <li class="about-me-item">
                            <i class="fab about-me-icon fa-facebook"></i>
                           https://www.facebook.com/cthanh2310/
                        </li>
                        <li class="about-me-item">
                            <i class="fab about-me-icon fa-instagram"></i>
                           https://www.instagram.com/thanhsimp_/
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col l-3 m-6 c-12">
                <div class="footer__contact-about-me">
                    <h2 class="about-me">Sách về kỹ năng</h2>
                    <ul class="about-me-list">
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                            Facebook marketing
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           Đắc nhân tâm
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           Nhà giả kim
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           Mười vạn câu hỏi vì sao?
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           Đời ngắn đừng ngủ dài
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col l-3 m-6 c-12">
                <div class="footer__contact-about-me">
                    <h2 class="about-me">Sách giáo khoa</h2>
                    <ul class="about-me-list">
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                            Tiếng anh 12
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           Đại số 12
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           Sinh học 12
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           Giải tích 12
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           Vật lý 12
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col l-3 m-6 c-12">
                <div class="footer__contact-about-me">
                    <h2 class="about-me">Sách anime Nhật Bản</h2>
                    <ul class="about-me-list">
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                            Doreamon
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           Tây du ký
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           One piece
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           Naruto
                        </li>
                        <li class="about-me-item">
                            <i class="fas about-me-icon fa-long-arrow-alt-right"></i>
                           Hentai
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="row register__email">
            <div class="col l-6 m-6 c-12">
                <div class="register__email-promotion">
                    <h2 class="register__email-h1">
                        ĐĂNG KÝ NHẬN TIN ĐỂ KHÔNG BỎ LỠ NHỮNG ƯU ĐÃI HẤP DẪN
                    </h2>
                    <h2 class="register__email-h2">
                        Cập nhật thông tin khuyến mãi nhanh nhất. Hưởng quyền lợi giảm giá riêng biệt
                    </h2>
                    <div class="register__email-div">
                        <input type="text" class="register__email-input" placeholder="Email của bạn">
                        <button class="register__email-button">
                            <h3 class="register__email-h3">Gửi</h3>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </grid>
</footer>