.book {
  // height: calc(100% - 60px);
}
.book__title {
}
.book__title-table {
  width: 100%;
  border-collapse: collapse;
  --padding-left: 10px;
}
.book__title-table thead {
  font-size: 1.6rem;
  height: 30px;
  display: table-caption;
  line-height: 30px;
  background: #e8e8e8;
}
.book__title-table thead tr {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 3fr 1fr;
}
.book__title-table thead tr td {
}
.book__title-table thead tr td:first-child {
  padding-left: var(--padding-left);
}
.book__title-table thead tr td:last-child {
  padding-left: var(--padding-left);
  text-align: center;
}
.book__title-table tbody {
  display: table-caption;
  font-size: 1.4rem;
}
.book__title-table tbody tr {
  padding: 2px 0;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 3fr 1fr;
  border-bottom: 1px solid #999;
}
.book__title-table tbody tr:first-child {
  margin-top: 10px;
}
.book__title-table tbody tr td {
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.book__title-table tbody tr td:first-child {
  padding-left: var(--padding-left);
}
.book__title-table tbody tr td:last-child {
  padding-left: var(--padding-left);
  text-align: center;
}
.btn-icon-edit {
  border: 1px solid #939393;
  cursor: pointer;
}
.btn-icon-edit:hover {
  background-color: #cacaca;
}
.btn-icon-remove {
  border: 1px solid #939393;
  cursor: pointer;
}
.btn-icon-remove:hover {
  background-color: #cacaca;
}
// icon color:
.fa-book {
  color: brown;
}
.fa-clock {
  color: red;
}
.fa-dollar-sign {
  color: cornflowerblue;
}
.fa-edit {
  color: teal;
}
.fa-pencil-alt {
  color: #91ff00;
}
.fa-times-circle {
  color: #ff2300;
}

// pagination__link

.pagination {
  padding-top: 20px;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.pagination__item {
  list-style: none;
  margin: 0 2px;
  line-height: 3rem;
  width: 2.5rem;
  overflow: hidden;
}

.pagination__link {
  font-weight: 500;
  font-size: 1.56em;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  background-color: var(--contact-color);
  margin: 0px;
  text-align: center;
  border-radius: 3px;
}

.pagination__link:hover {
  background-color: #ddddd6c2;
  color: var(--primary-color);
}

.pagination__icon {
  font-size: 1.3rem;
}

// form edit:
.book__edit {
  background-color: #fff;
}
.book__edit-title{
  font-size: 1.5rem;
  padding-left: 10px;
  padding-top: 10px;
}


.form-group {
  display: flex;
  margin-bottom: 16px;
  margin-left:30px;
  margin-right:30px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.form-control {
  height: 30px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color:var(--red-color);
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  font-family: roboto;
  outline: none;
  background-color: var(--red-color);
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 20%;
  align-self: center;
  // width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}
.form-group select{
  border-radius: 3px;
  height: 24px;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid #b3b3b3;
}
.form-group select:hover{
  border-color: var(--red-color);
}
.form-group textarea{
  border-bottom: 1px solid #ccc;
    outline: none;
    padding: 1px 6px;
    height: 60px;
    line-height: 25px;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
}
.form-submit:hover {
  opacity: 0.7;
}
.form-group--modifier{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.spacer {
  margin-top: 36px;
}

