.category {
  height: 240px;
  background-color: #ffffee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
}

.title {
  display: flex;
  justify-content: center;
}

.title-line {
  height: 2px;
  width: 25%;
  /* color: var(--red-color); */
  background-color: var(--red-color);
  border: none;
  margin: 23px 12px 0;
}

.category__title {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: 1.6rem;
  text-align: center;
  height: 30px;
}

.category__list {
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
  height: 150px;
}

.category__list::-webkit-scrollbar {
  width: 1rem;
}

.category__list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.category__list::-webkit-scrollbar-thumb {
  background-color: #666;
  outline: 1px solid slategrey;
}

.category__item {
  border-bottom: 1px solid var(--orange-color);
  width: 60%;
  border-bottom-width: 3px;
  text-align: center;
  margin: 0 auto;
}

.category__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 900;
}

.category__link:hover {
  color: var(--primary-color);
}

.category__item + .category__item {
  margin-top: 16px;
}
////////////////////////////////
.product {
  margin-bottom: 20px;
}
.product__image {
  box-shadow: 8px 0 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid transparent;
  margin-left: 20px;
}
.product__image--img {
  max-width: 295px;
  height: 300px;
  margin: 10px 0;
  border-radius: 4px;
  object-fit: contain;
}

.product__info-list {
  list-style: none;
  height: 100%;
  border: 1px solid var(--orange-color);
  border-radius: 10px;
  margin: 0;
  margin-left: 20px;
}
.product__info-item {
  font-size: 1.6rem;
}
.product__info-item + .product__info-item {
  margin-bottom: 10px;
}
.product__info-item--price {
  color: var(--red-color);
  font-size: 2.2rem;
}
.product__info-item h3 {
  font-size: 2rem;
}

.product__info-amount-math {
  cursor: pointer;
  height: 26px;
  border: 1px solid #dcdcdc;
  width: 26px;
}
.product__info-amount-math:hover {
  color: var(--red-color);
  opacity: 0.8;
}
.product__info-amount-span {
  margin: auto 4px;
  font-size: 1.6rem;
  font-weight: 600;
}
.product__info-amount-icon {
  color: var(--text-color);
  font-size: 1.4rem;
}

.product__info-add-to-cart {
  padding-top: 8px;
  display: flex;
}
.product__info-add-to-cart--button {
  background-color: #ffb18e;
  justify-content: center;
  border: none;
  border-radius: 30px;
  height: 40px;
  line-height: 40px;
  color: var(--black-color);
  transition: all linear 0.3s;
  display: block;
  text-decoration: none;
  padding: 1px 6px;
}
.product__info-add-to-cart--icon {
  transition: all linear 0.3s;
  color: #fb0000;
  font-size: 2rem;
}
.product__info-add-to-cart--button:hover .product__info-add-to-cart--icon {
  background-color: var(--red-color);
  color: #ffffee;
  cursor: pointer;
}
.product__info-add-to-cart--button:hover {
  background-color: var(--red-color);
  color: #ffffee;
  cursor: pointer;
}

// comment
.review__title {
  text-align: center;
}
.review__title h2 {
  margin-top: 30px;
  font-size: 2.4rem;
}
.review__my-comment {
  margin-bottom: 35px;
}
.review__textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 1px 6px;
  height: 25px;
  line-height: 25px;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: none;
}
.people-focusing{
  display: none;
}
.review__my-comment--btn {
  margin-top: 10px;
  margin-left: auto;
  display: block;
  font-size: 1.7rem;
  line-height: 26px;
  padding: 0 16px;
  border: none;
  border-radius: 5px;
  height: 26px;
  transition: all linear 0.1s;
  cursor: pointer;
}
.review__my-comment--btn:hover {
  background-color: var(--red-color);
  color: #fff;
}

.review__comment {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.review__avatar {
  margin: auto;
  width: 40px;
  height: 40px;
}
.review__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.review__content {
}
.content__user-name {
  font-size: 1.5rem;
  font-weight: 600;
}
.content__details {
  margin-top: 3px;
  font-size: 1.5rem;
}
.content__details p {
  margin-top: 5px;
}
.content__react {
}

.content__react-like {
  font-size: 1.4rem;
  cursor: pointer;
  padding-right: 10px;
  color: #999;
}
.content__react-like--color{
  color: #065fd4;
}
.content__react-like:active {
  color: #065fd4;
}
.content__react-like:hover {
  color: #606060;
}
.content__react-dislike {
  padding-right: 10px;
  font-size: 1.4rem;
  cursor: pointer;
  color: #999;
}
.content__react-dislike:active {
  color: #065fd4;
}
.content__react-dislike:hover {
  color: #606060;
}

/// overlay
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 68;
  animation: fadeIn 0.1s linear;
  display: none;
}
.overlay:active .popup {
  border: 1px solid #000;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popup {
  z-index: 69;
  width: 300px;
  position: fixed;
  top: 25%;
  right: 50%;
  transform: translateX(50%);
  background-color: white;
  border-radius: 5px;
  animation: show 0.1s linear;
  display: none;
}
.popup__tile {
  text-align: center;
  font-size: 1.7rem;
}
.popup__description {
  font-size: 1.5rem;
  text-align: center;
}
.pop__up-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.pop__up-button-exit {
  background-color: #fff;
  color: #106fff;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  margin: auto 10px;
}
.pop__up-button-exit:hover {
  font-weight: 600;
}
.pop__up-button-ok {
  background-color: #ffb18e;
  justify-content: center;
  border: none;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: var(--black-color);
  text-decoration: none;
  font-size: 1.7rem;
  transition: all linear 0.1s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.pop__up-button-ok:hover {
  background-color: var(--red-color);
  color: #ffffee;
  cursor: pointer;
}
