@media (min-width: 740px){
    .hide-on-tablet-pc{
        display: none;
    }
}
.nav__top-mobile{
    background-color: var(--black-color);
}
.nav__top-mobile-icon{
    font-size: 2.4rem;
}
.nav__overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 68;
    display: none;
    animation: fadeIn 0.2s linear;
}
.nav__bars-btn{
    width: 28px;
    height: 28px;
    color: #fff;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
/* Mobile & Tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
}
/* Tablet */

@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .search{
        width: 80%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }



    .flex-in-tablet{
        display: flex;
    }
    .category{
        width: 50%;
    }
    .price{
        width: 50%;
    }
}

/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    .padding-all{
        padding-left: 5px;
        padding-right: 5px;
    }
    .header__body-logo-image {
        right: 18px;
    }
    .cart__auth{
        padding-right: 20px;
    }
    .search{
        width: 70%;
    }
    .nav__bars-btn{
        display: flex; // Hide on pc, viewed on Mobile   
    }
    .nav__mobile{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 69;
        width: 140px;
        max-width: 100%;
        background-color: #fff;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform linear 0.3s;
        // transition: transform linear 0.9s  opacity linear 0.2s;
    }
    .nav__mobile-list{
        padding-left: 20px;
        margin-top: 24px;
        list-style: none;
    }
    .nav__mobile-item{

    }
    .nav__mobile-link{
        color: #333;
        line-height: 14px;
        display: block;
        padding: 8px 0;
        font-size: 1.4rem;
        width: 80%;
    }
    
    // /* Mobile nav */
    .nav__input:checked ~.nav__overlay{
        display: block;
        
    }
    .nav__input:checked ~.nav__mobile{
        transform: translateX(0);
        opacity: 1;
    }
    .nav__mobile-close--text{
        font-size:1.4rem;
        font-weight:900;
        margin-top: 10px;
        display: block;
    }
}
