<head>
    <link rel="stylesheet" href="/css/nav-dashboard.css">
</head>
<div class="navigation">
    <ul class="navigation__list">
        <li class="navigation__list-item">
            <a href="/admin/dashboard" class="navigation__list-item-link">
                <span class="navigation__list-item-icon"><i class="fas fa-book"></i></i></span>
                <span class="navigation__list-item-title"><h2>Thanhsimp_</h2></span>
            </a>
        </li>
        <li class="navigation__list-item">
            <a href="#" class="navigation__list-item-link">
                <span class="navigation__list-item-icon"><i class="fas fa-home"></i></span>
                <span class="navigation__list-item-title">Bảng điều khiển</span>
            </a>
        </li>
        <li class="navigation__list-item">
            <a href="/admin/book-manage" class="navigation__list-item-link">
                <span class="navigation__list-item-icon"><i class="fas fa-book-open"></i></span>
                <span class="navigation__list-item-title">Quản lý sách</span>
            </a>
        </li>
        <li class="navigation__list-item">
            <a href="/admin/bill-manage" class="navigation__list-item-link">
                <span class="navigation__list-item-icon"><i class="fas fa-receipt"></i></span>
                <span class="navigation__list-item-title">Quản lý đơn hàng</span>
            </a>
        </li>
        <li class="navigation__list-item">
            <span href="#" class="navigation__list-item-link navigation__list-item-link--statistical">
                <span class="navigation__list-item-icon"><i class="fas fa-warehouse"></i></i></span>
                <span class="navigation__list-item-title" style="cursor: pointer;">Thống kê</span>
                <span class="navigation__list-item-icon-dropdown fas fa-caret-down"></span>
            </span>
            <ul class="navigation__list-item--statistical">
                <li><a href="">Thống kê sách bán chạy</a></li>
                <li><a href="">thống kê doanh thu</a></li>
            </ul>
        </li>
        <li class="navigation__list-item">
            <a href="#" class="navigation__list-item-link">
                <span class="navigation__list-item-icon"><i class="fas fa-users"></i></span>
                <span class="navigation__list-item-title">Khách hàng</span>
            </a>
        </li>
        
        <li class="navigation__list-item">
            <a href="#" class="navigation__list-item-link">
                <span class="navigation__list-item-icon"><i class="fas fa-comment"></i></span>
                <span class="navigation__list-item-title">Thông báo</span>
            </a>
        </li>
        <li class="navigation__list-item">
            <a href="#" class="navigation__list-item-link">
                <span class="navigation__list-item-icon"><i class="fas fa-question-circle"></i></span>
                <span class="navigation__list-item-title">Trợ giúp</span>
            </a>
        </li>
        <li class="navigation__list-item">
            <a href="#" class="navigation__list-item-link">
                <span class="navigation__list-item-icon"><i class="fas fa-cog"></i></span>
                <span class="navigation__list-item-title">Cài đặt</span>
            </a>
        </li>
        <li class="navigation__list-item">
            <a href="#" class="navigation__list-item-link">
                <span class="navigation__list-item-icon"><i class="fas fa-lock"></i></span>
                <span class="navigation__list-item-title">Mật khẩu</span>
            </a>
        </li>
        <li class="navigation__list-item">
            <a href="#" class="navigation__list-item-link">
                <span class="navigation__list-item-icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="navigation__list-item-title ">Đăng xuất</span>
            </a>
        </li>
    </ul>
</div>
<script src="/javascripts/dashboard.js"></script>