<head>
    <link rel="stylesheet" href="/css/nav-topbar.css">
</head>
<div class="main__topbar">
    <div class="main__topbar-toggle" onclick="toggleMenu()">
    </div>
    <div class="main__topbar-search">
        <label class="main__topbar-search--label" for="">
            <input class="main__topbar-search--input" type="text" placeholder="Tìm kiếm">
            <i class="fas fa-search"></i>
        </label>
    </div>
        <div class="main__user">
            <img class="main__user-avatar" src="/images/avatar.jpg" alt="">
        </div>
</div>